@charset "utf-8;";

@font-face {
    font-family: 'iconfont';
    src: url('http://at.alicdn.com/t/font_1405218323_7307096.eot'); /* IE9*/
    src: url('http://at.alicdn.com/t/font_1405218323_7307096.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('http://at.alicdn.com/t/font_1405218323_7307096.woff') format('woff'), /* chrome、firefox */ url('http://at.alicdn.com/t/font_1405218323_7307096.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('http://at.alicdn.com/t/font_1405218323_7307096.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont";
    font-style: normal;
}

.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

body {
    font-size: 14px;
}

.header {
    position: relative;
}

.header .logo {
    position: absolute;
    top: 0;
    left: 0;
}

.nav {
    /*background-color: #000000;*/
}

.navbar {
    /*height: 35px;*/
    /*line-height: 35px;*/
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    float: left;
}

.navbar-item a {
    display: block;
    width: 92px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
}

.top-nav {
    border-bottom: 1px solid #670136;
    background-color: #000000;
}

.top-nav .nav,
.header,
.search-bar,
.main .section .section-cell {
    width: 1000px;
    margin: 0 auto;
}

.top-nav .navbar {
    float: right;
}

.top-nav .navbar-item.current a,
.top-nav .navbar-item:hover a {
    color: #fff100;
    background-color: #710047;
}

.banner {
    height: 520px;
    background: url(../images/banner-bg.jpg) no-repeat center;
}

.index-search-bar {
    border-bottom: 1px solid #dddddd;
    background: url('../images/search-bar-bg.jpg') no-repeat center;
}

.search-bar {
    height: 45px;
    line-height: 45px;
    font-size: 12px;
    color: #888888;
    position: relative;
}

.search-bar .keywords,
.search-bar .search {
    display: inline;
}

.search-bar .keywords a {
    padding-right: 10px;
    color: #888888;
    text-decoration: none;
}

.search-bar .search {
    width: 300px;
    height: 24px;
    line-height: 24px;

    padding-left: 12px;
    padding-right: 24px;
    position: absolute;
    top: 10px;
    right: 0;

    border: 1px solid #888888;
    border-radius: 12px;

    background-color: #ffffff;
}

.search-bar .search .search-button {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 26px;
    text-decoration: none;
    color: #888888;
}

.search-bar .search-input {
    /*height: 26px;*/
    display: inline;
    width: 100%;
    margin: 0;
    /*padding: 6px 22px 6px 12px;*/

    border: none;
    outline: none;
}

.main .section {

}

.main .section.section-1 {
    height: 1662px;
    background: url('../images/section-1-bg.jpg') no-repeat center;
}

.main .section .section-cell {
    height: 100%;
    position: relative;
}

.main .section-1 .slogan {
    position: absolute;
}

.main .section-1 .slogan .title {
    font-size: 48px;
    color: #9e0070;
}

.main .section-1 .description {
    position: absolute;
}

.main .section-1 .description.right {
    text-align: right;
}

.main .section-1 .title {
    font-size: 20px;
    color: #9e0070;
}

.main .section-1 .content {
    line-height: 1.5;
}
