@charset "utf-8;";

@font-face {
    font-family: 'iconfont';
    src: url('http://at.alicdn.com/t/font_1405378925_5140078.eot'); /* IE9*/
    src: url('http://at.alicdn.com/t/font_1405378925_5140078.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('http://at.alicdn.com/t/font_1405378925_5140078.woff') format('woff'), /* chrome、firefox */ url('http://at.alicdn.com/t/font_1405378925_5140078.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('http://at.alicdn.com/t/font_1405378925_5140078.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont";
    font-style: normal;
}

.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

body {
    font-size: 14px;
    font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 16px;
    margin-bottom: 16px;
}

p {
    margin-top: 14px;
    margin-bottom: 14px;
}

.header {
    position: relative;
}

.header .logo {
    position: absolute;
    top: 0;
    left: 0;
}

.nav {
    /*background-color: #000000;*/
}

.navbar {
    /*height: 35px;*/
    /*line-height: 35px;*/
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    float: left;
}

.navbar-item a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
}

.top-nav .navbar-item a {
    width: 92px;
    height: 35px;
    line-height: 35px;
    background-color: #000000;
}

.top-nav {
    border-bottom: 1px solid #670136;
    background-color: #000000;
}

.bottom-nav {
    background-color: #9e006f;
}

.bottom-nav .navbar-item a {
    /*display: block;*/
    width: 125px;
    height: 40px;
    line-height: 40px;
}

.top-nav .nav,
.bottom-nav .nav,
.header,
.search-bar,
.main .section .section-cell,
.main .main-wrapper,
.footer .footer-wrapper {
    width: 1000px;
    margin: 0 auto;
}

.top-nav .navbar {
    float: right;
}

.top-nav .navbar-item.current a,
.top-nav .navbar-item:hover a {
    color: #fff100;
    background-color: #710047;
}

.index .banner {
    height: 520px;
    background: url(../images/banner-bg.jpg) no-repeat center;
}

.index-search-bar {
    border-bottom: 1px solid #dddddd;
    background: url('../images/search-bar-bg.jpg') no-repeat center;
}

.search-bar {
    height: 45px;
    line-height: 45px;
    font-size: 12px;
    color: #888888;
    position: relative;
}

.search-bar .keywords,
.search-bar .search {
    display: inline;
}

.search-bar .keywords a {
    padding-right: 10px;
    color: #888888;
    text-decoration: none;
}

.search-bar .search {
    width: 300px;
    height: 24px;
    line-height: 24px;

    padding-left: 12px;
    padding-right: 24px;
    position: absolute;
    top: 10px;
    right: 0;

    border: 1px solid #888888;
    border-radius: 12px;

    background-color: #ffffff;
}

.search-bar .search .search-btn {
    position: absolute;
    top: -2px;
    right: 8px;
    font-size: 26px;
    text-decoration: none;
    color: #888888;
    border: none;
    background: none;
    width: 30px;
    height: 30px;
}

.search-bar .search-input {
    /*height: 26px;*/
    display: inline;
    width: 100%;
    margin: 0;
    /*padding: 6px 22px 6px 12px;*/

    border: 0 none;
    outline: none;
}

.main .section {

}

.main .section-1 {
    height: 1662px;
    background: url('../images/section-1-bg.jpg') no-repeat center;
}

.main .section .section-cell {
    height: 100%;
    position: relative;
}

.main .section .section-slogan-1 {
    color: #ffffff;
}

.main .section .section-slogan-2 {
    color: #000000;
}

.main .section .section-slogan .title {
    position: absolute;
    font-size: 30px;
}

.main .section .section-slogan .desc {
    position: absolute;
}

.main .section .slider-list-outer-wrapper {
    width: 1000px;
    position: absolute;
}

.main .section .slider-list-inner-wrapper {
    width: 900px;
    float: left;
    overflow: hidden;
    position: relative;
}

.main .section .slider-list-outer-wrapper .button {
    display: block;
    float: left;
    text-decoration: none;
    color: #838383;
    font-size: 50px;
}

.main .section .slider-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.main .section .slider-item {
    float: left;
}

.main .section .slider-item .label {
    text-align: center;
}

.main .section .slider-img-wrapper {
    border: 1px solid #e1e1e1;
    background-color: #ffffff;
}

.main .section .slider-img {
    display: block;
}

.main .section-1 .slogan {
    position: absolute;
}

.main .section-1 .slogan .title {
    margin: 0;
    font-size: 48px;
    color: #9e0070;
}

.main .section-1 .description {
    position: absolute;
}

.main .section-1 .description.right {
    text-align: right;
}

.main .section-1 .title {
    font-size: 20px;
    color: #9e0070;
}

.main .section-1 .content {
    line-height: 1.5;
}

.main .section-2 {
    height: 498px;
    background: url('../images/section-2-bg.jpg') no-repeat center;
}

.main .section-2 .form-slogan .title {
    font-size: 30px;
    color: #9e0070;
    position: absolute;
    left: 20px;
    top: 36px;
}

.main .section-2 .form-slogan .desc {
    color: #444444;
    position: absolute;
    left: 140px;
    top: 90px;
}

.main .section-2 .form-group label,
.main .section-2 .form-group input,
.main .section-2 .form-group textarea {
    position: absolute;
    color: #888888;
}

.main .section-2 .form-group input,
.main .section-2 .form-group textarea {
    border: none;
    outline: none;
}

.main .section-2 .form-group .submit-button-wrapper {
    width: 161px;
    height: 51px;
    background: url("../images/section-2-submit-button.jpg");

    position: absolute;
    top: 386px;
    left: 20px;
}

.main .section-2 .form-group .submit-button {
    position: absolute;
    top: 14px;
    left: 42px;
    color: #ffffff;
    background-color: transparent;
    font-size: 18px;
}

.main .section-2 .condition {
    list-style: none;
    padding: 0;

    position: absolute;
    top: 140px;
    left: 460px;
}

.main .section-2 .condition li {
    color: #ffffff;
    margin: 15px 0;
    padding-left: 30px;
    background: url("../images/section-2-round.jpg") no-repeat left;
}

.main .section-3 {
    height: 1057px;
    background: url('../images/section-3-bg.jpg') no-repeat center;
}

.main .section-3 .timeline-history-list-wrapper {
    /*width: 1000px;
    position: absolute;
    top: 300px;*/
}

.main .section-3 .timeline {
    width: 1000px;
    border-top: 3px solid #dddddd;
    border-bottom: 3px solid #dddddd;
    border-left: none;
    border-right: none;
    position: absolute;
    top: 300px;
}

.main .section-3 .history-list {
}

.main .section-3 .year-wrapper {
    padding: 3px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 287px;
}

.main .section-3 .year {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    /*margin: 3px;*/
    background-color: #dddddd;
    border-radius: 50%;
}

.main .section-3 .what-happen {
    width: 170px;
    padding: 20px 20px;
    line-height: 1.5;
    color: #ffffff;
    background-color: #9e0070;
    border-radius: 25px;

    position: absolute;

    left: 1000px;
}

.main .section-3 .up {
    bottom: 780px;
}

.main .section-3 .down {
    top: 350px;
}

.main .section-3 .auth-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main .section-3 .auth-list-wrapper {
    width: 1000px;

    position: absolute;
    top: 545px;
}

.main .section-3 .auth-item {
    float: left;
    margin: 0 9px;
    border: 1px solid #dddddd;
}

.main .section-3 .auth-img {
    display: block;
    width: 145px;
    height: 120px;
}

.main .section-3 .certificate-list-outer-wrapper {
    top: 800px;
}

.main .section-3 .certificate-item .slider-item-container {
    margin: 0 7px;
}

.main .section-3 .certificate-img-wrapper {
    padding: 3px;
}

.main .section-3 .certificate-img {
    width: 158px;
    height: 102px;
}

.main .section-3 .certificate-item .label {
    text-align: center;
    color: #444444;
}

.main .section-3 .certificate-list-outer-wrapper .button {
    height: 108px;
    line-height: 108px;
    color: #838383;

}

.main .section-4 {
    height: 902px;
    background: url('../images/section-4-bg.jpg') no-repeat center;
}

.main .section-4 .prev-next,
.main .section-4 .member-list-wrapper {
    position: absolute;
}

.main .section-4 .prev-next {
    right: 0;
    top: 25px;
    font-size: 20px;
}

.main .section-4 .prev,
.main .section-4 .next {
    display: block;
    width: 38px;
    height: 32px;
    line-height: 32px;
    margin: 0 1px;
    text-align: center;
    text-decoration: none;
    float: left;
}

.main .section-4 .prev {
    background-color: #9e0070;
    color: #ffffff;
}

.main .section-4 .next {
    background-color: #ffffff;
    color: #aaaaaa;
}

.main .section-4 .member-list-wrapper {
    width: 1000px;
    top: 100px;
    overflow: hidden;
}

.main .section-4 .member-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.main .section-4 .member-item {
    width: 249px;
    float: left;
}

.main .section-4 .member-item .slider-item-container {
    margin: 0 7px;
}

.main .section-4 .member {
    padding: 5px;
    background-color: #ffffff;
    overflow: hidden;
}

.main .section-4 .member-img {
    width: 225px;
    height: 150px;
}

.main .section-4 .honor {
    text-align: center;
}

.main .section-4 .slogan {
    margin-left: 15px;
    margin-right: 15px;
}

.main .section-4 .divider {
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-top: 1px solid #dddddd;
}

.main .section-4 .map-label {
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    color: #ffffff;
    background-color: #9e0070;

    position: absolute;
    top: 860px;
    left: 180px;
}

.main .section-4 .article-preview {
    width: 460px;

    position: absolute;
    top: 565px;
    left: 530px;
}

.main .section-4 .article-preview p {
    height: 140px;
    margin-bottom: 30px;
    overflow: hidden;
    line-height: 2;

    color: #ffffff;
}

.main .section-4 .more {
    display: block;
    width: 125px;
    height: 42px;
    line-height: 42px;
    border-radius: 21px;
    background-color: #9e0070;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.main .section-5 {
    height: 991px;
    background: url('../images/section-5-bg.jpg') no-repeat center;
}

.main .section-5 .workshop-list-wrapper {
    width: 100%;
    position: absolute;
    top: 110px;
}

.main .section-5 .workshop-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main .section-5 .workshop-item {
    float: left;
    margin: 1px;
}

.main .section-5 .workshop-item-inner {
    width: 247px;
    height: 197px;
    overflow: hidden;
}

.main .section-5 .workshop-item-inner img {
    display: block;
    /*width: 100%;*/
}

.main .section-5 .workshop-tile {
    width: 100%;
    height: 100%;
    background-color: #9e0070;
}

.main .section-5 .tile-detail-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main .section-5 .tile-detail {
    display: table-cell;
    vertical-align: middle;
}

.main .section-5 .tile-detail p {
    text-align: center;
    font-size: 16px;
    color: #ffffff
}

.main .section-5 .about-xiaolian {
    width: 100%;
    position: absolute;
    top: 665px;
}

.main .section-5 .about-slider {
    width: 410px;
    height: 280px;

    float: left;
}

.main .section-5 .article-preview {
    width: 500px;
    padding: 0 45px;
    float: right;
}

.main .section-5 .article-preview p {
    height: 200px;
    margin-bottom: 20px;
    overflow: hidden;
    line-height: 2;
}

.main .section-5 .more {
    display: block;
    width: 125px;
    height: 42px;
    line-height: 42px;
    border-radius: 21px;
    background-color: #9e0070;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.main .section-6 {
    height: 636px;
    background: url('../images/section-6-bg.jpg') no-repeat center;
}

.main .section-6 .shop-list-outer-wrapper {
    top: 145px;
}

.main .section-6 .shop-item .slider-item-container {
    margin: 7px;
}

.main .section-6 .shop-img-wrapper {
    padding: 1px;
}

.main .section-6 .shop-img {
    width: 206px;
    height: 151px;
}

.main .section-6 .label {
    color: #ffffff;
}

.main .section-6 .shop-list-outer-wrapper .button {
    height: 155px;
    line-height: 155px;
    color: #ffffff;
}

.main .section-6 .supplier-list-wrapper {
    width: 1000px;
    overflow: hidden;
    position: absolute;
    top: 490px;
}

.main .section-6 .supplier-list {
    /*width: 1500px;*/
    list-style: none;
    margin: 0;
    padding: 0;

    position: relative;
}

.main .section-6 .supplier-item {
    float: left;
}

.main .section-6 .supplier-item-container {
    margin: 4px;
}

.main .section-6 .supplier-item img {
    display: block;
    width: 151px;
    height: 84px;
}

.main .section-7 {
    height: 447px;
    background: url('../images/section-7-bg.jpg') no-repeat center;
}

.main .section-7 .box-list {
    width: 1000px;
    padding: 30px 0;
}

.main .section-7 .box {
    width: 290px;
    margin: 0 18px;
    float: left;
}

.main .section-7 .hd .title {
    margin: 0;
    font-size: 16px;
    float: left;
}

.main .section-7 .hd .title-a {
    color: #9e0070;
}

.main .section-7 .hd .title-b {
    color: #888888;
}

.main .section-7 .hd .more {
    margin-top: 3px;
    font-size: 12px;
    color: #888888;
    float: right;
    text-decoration: none;
}

.main .section-7 .hd .divider {
    height: 0;
    margin: 7px 0;
    float: left;

    border-top-width: 2px;
    border-top-style: solid;

    /*border-bottom-width: 1px;
    border-bottom-style: solid;*/
}

.main .section-7 .hd .divider-a {
    width: 40%;
    border-top-color: #9e0070;
    /*border-bottom-color: #9e0070;*/
}

.main .section-7 .hd .divider-b {
    width: 60%;
    border-top-color: #888888;
    /*border-bottom-color: #888888;*/
}

.main .section-7 .bd .article-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main .section-7 .bd .article-item {
    padding: 5px 0;
    border-bottom: 1px dotted #dddddd;
    /*padding: 0;
    margin: 0;*/
}

.main .section-7 .bd .article-item a {
    display: block;
    text-decoration: none;
    color: #888888;
    font-size: 12px;
}

.main .section-7 .bd .sign,
.main .section-7 .bd .title {
    float: left;
}

.main .section-7 .bd .title {
    width: 200px;
    overflow: hidden;
}

.main .section-7 .bd .sign {
    margin-right: 5px;
}

.main .section-7 .bd .time {
    float: right;
}

.main .section-7 .links-wrapper {
    padding: 30px 0;
    border-top: 1px solid #dddddd;
}

.main .section-7 .links-title {
    width: 140px;
    padding: 0 10px;
    float: left;
}

.main .section-7 .links-title .title {
    margin: 0;
    font-size: 32px;
}

.main .section-7 .links-title .title-cn {
    color: #9e0070;
    text-align: left;
}

.main .section-7 .links-title .title-en {
    color: #888888;
    text-align: right;
}

.main .section-7 .links {
    width: 830px;
    padding: 10px 0;
    float: right;
}

.main .section-7 .link-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main .section-7 .link-item {
    margin: 5px 10px;
    float: left;
}

.main .section-7 .link-item a {
    text-decoration: none;
    color: #888888;
    font-size: 12px;
}

.content-search-bar .search-bar {
    position: relative;
}

.content-search-bar .keywords {
    position: absolute;
    left: 220px;
}

.content-search-bar .search {
    width: 240px;
}

.content .banner {
    height: 259px;
    background: url("../images/content-banner-1.jpg") no-repeat center;
}

.main .aside {
    width: 238px;
    /*height: 1000px;*/
    /*border: 1px solid #ddd;*/
    float: right;
}

.main .container {
    width: 750px;
    float: left;
    /*padding: 10px 0;*/
}

.breadcrumb,
.article {
    margin: 10px 0;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
}

.breadcrumb {
    height: 34px;
    line-height: 34px;
    padding: 0 18px;
    font-size: 12px;
}

.breadcrumb a,
.breadcrumb span {
    color: #888888;
}

.breadcrumb a {
    text-decoration: none;
}

.breadcrumb .split {
    padding: 0 2px;
}

.article {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.article .title {
    margin-top: 13px;
    margin-bottom: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px dashed #cccccc;
    font-size: 20px;
    color: #c558a5;
}

.article .info {
    padding: 0 10px;
    font-size: 12px;
}

.article .info,
.article .info a {
    color: #aaaaaa;
}

.article .info a {
    text-decoration: none;
}

.article .info span {
    margin-right: 10px;
}

.article .info strong {
    color: #444444;
}

.content p {
    line-height: 2;
}

.article .divider {

    margin-left: -10px;
    margin-right: -10px;

    border: none;
    border-bottom: 1px dashed #cccccc;
}

.article .prev-next {
    height: 54px;
    line-height: 54px;

    /*padding: 0 10px;*/

    /*border-top: 1px dashed #cccccc;*/
    /*border-bottom: 1px dashed #cccccc;*/
}

.article .prev-next .prev {
    /*display: inline-block;*/
    /*width: 50%;*/
    float: left;
}

.article .prev-next .next {
    float: right;
}

.article .prev-next .icon,
.article .prev-next .desc {
    color: #888888
}

.article .prev-next .link {
    text-decoration: none;
    color: #444444;
}

/*.prev-next .icon {
    font-size: 20px;
}

.prev-next .desc {
    font-size: 12px;
}*/

.recommend-products {
    position: relative;
}

.relative-articles .title-2 {
    font-size: 14px;
    color: #444444;
}

.relative-articles .news-list {
    width: 300px;
    _width: 250px;
    margin-top: 0;
    /*padding-left: 5px;*/
    float: left;
}

.relative-articles .news-list li {
    margin: 5px 0;
    color: #aaaaaa;
}

.relative-articles .news-list a {
    text-decoration: none;
    color: #444444;
}

.article .product-list {
    list-style: none;
    margin: 0;
    /*margin-left: -33px;*/
    padding: 0;
}

.article .product-item {
    float: left;
    margin-bottom: 10px;
    margin-left: 11px;
    margin-right: 11px;
    /* hack IE6 */
    _margin-left: 9px;
    _margin-right: 9px;
}

/*.article .product-item:first-child {
    margin-left: 0;
}*/

.article .product-item a {
    display: block;
    text-decoration: none;
    color: #444444;
    font-size: 12px;
    text-align: center;
}

.article .img-wrapper {
    /*display: block;*/
    width: 215px;
    height: 152px;
    border: 1px solid #dddddd;
}

/*.pagination {
    margin: 20px 0;
}

.pagination .button-list,
.pagination .direct {
    float: left;
}

.pagination .button-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination li {
    margin: 5px;
    float: left;
}

.pagination .button,
.pagination .label {
    display: block;
    height: 30px;
    line-height: 30px;

}

.pagination .button {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #d7d7d7;
    text-decoration: none;
    color: #444444;
    background-color: #ffffff;
}

.pagination .label {
    padding-left: 5px;
    padding-right: 5px;
}

.pagination .disable {
    color: #d7d7d7;
}

.pagination .direct {

}*/

/* ============================= 文字列表 ================================== */

/* banner */
.p-banner {
    height: 259px;
    text-align: center;
    background: url("../images/banner_b.jpg") repeat-x;
}

.p-banner img {
    vertical-align: top;
}

.newsbox {
}

.news-item {
    border-bottom: 1px #ddd dotted;
    padding: 20px 0;
}

.news-item-t {
    margin-bottom: 10px;
}

.news-item-t a {
    color: #c558a5;
    font-size: 16px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    text-decoration: none;
}

.news-item-t a:hover {
    text-decoration: underline;
    color: #9e006f;
}

.news-item-t span {
    float: right;
    color: #aaaaaa;
    font-size: 12px;
}

.news-item-b {
    font-size: 12px;
    line-height: 2;
    color: #888;
}

/* 分页 */
.page-box {
    padding: 20px 0;
}

.page-box a {
    border: 1px solid #d5d5d5;
    padding: 5px 10px;
    color: #666;
    text-decoration: none;
    font-weight: bold;
    margin: 0 3px;
}

.page-box a:hover {
    color: #333;
}

.page-box span.current {
    border: 1px solid #fff;
}

.page-box span {
    border: 1px solid #D1D1D1;
    color: #D1D1D1;
    margin: 0 3px;
    padding: 5px 10px;
    font-weight: normal;
}

.page-box .btn-prev {
    padding-left: 20px;
    background: url(../images/p.png) no-repeat;
}

.page-box span.btn-prev {
    background-position: 9px -52px;
}

.page-box a.btn-prev {
    background-position: 9px -21px;
}

.page-box .btn-next {
    padding-right: 20px;
    background: url(../images/p.png) no-repeat;
}

.page-box span.btn-next {
    background-position: 59px -81px;
}

.page-box a.btn-next {
    background-position: 59px 10px;
}

/* ============================= aside ================================== */
.aside {
    padding-top: 10px;
}

.main-wrapper {
    overflow: hidden;
    zoom: 1;
}

.aside h3 {
    height: 33px;
    line-height: 33px;
    background-color: #9e006f;
    color: #fff;
    font-size: 14px;
    padding-left: 10px;
    margin: 0;
}

.aside .aside-box {
    border: 1px solid #d8d8d8;
}

/* 笑脸新闻 */
.news-c {
    margin: 0;
    padding: 8px 0 8px 20px;
}

.news-c li {
    list-style-type: none;
    margin: 0;
    padding: 8px 0;
}

.news-c li a {
    font-family: "\5FAE\8F6F\96C5\9ED1";
    text-decoration: none;
    color: #666666;
    margin-left: 10px;
}

.news-c li a:hover,
.news-c li.current a {
    text-decoration: underline;
    color: #9e006f;
}

.news {
    margin-bottom: 10px;
}

/* 联系笑脸 */
.contact-tel {
    text-align: center;
    padding: 20px 0 10px;
}

.contact-tel img {
    vertical-align: top;
}

.contact-l {
    margin: 0 10px;
    padding: 10px 0;
    border-top: 1px solid #d8d8d8;
    color: #666;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    font-size: 12px;
}

.contact-l li {
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
}

/* footer */
.footer {
    overflow: hidden;
    zoom: 1;
    height: 166px;
    background: #F9E7D3 url(../images/f_bg.jpg) no-repeat top left;
    padding-top: 50px;
}

.f-logo {
    float: left;
    margin-right: 50px;
    margin-left: 230px;
    _display: inline;
}

.f-info p {
    margin: 0;
    line-height: 2;
    font-size: 12px;
    color: #444;
}

.product-detail {
    margin-bottom: 40px;
}

.product-detail .product-preview,
.product-detail .product-profile {
    float: left;
}

.product-detail .product-preview {

}

.product-detail .product-profile {
    width: 318px;
    padding-left: 40px;
}

.product-detail .product-preview-big {
    width: 350px;
    height: 350px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
}

.product-detail .preview-list-wrapper {
    float: left;
}

.product-detail .preview-list {
    list-style: none;
    margin: 0 4px;
    padding: 0;
}

.product-detail .preview-item {
    float: left;
    margin: 0 4px;
}

.product-detail .preview-item img {
    width: 100%;
}

.product-detail .preview-item a {
    display: block;
    width: 52px;
    height: 52px;
    line-height: 52px;
    border: 1px solid #dddddd;
    text-decoration: none;
}

.product-detail .current a {
    width: 50px;
    height: 50px;
    line-height: 48px;
    border: 2px solid #9e006f;
}

.product-detail .prev,
.product-detail .next {
    display: block;
    width: 15px;
    color: #dddddd;
    height: 52px;
    line-height: 52px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    text-decoration: none;
}

.product-detail .prev {
    float: left;

}

.product-detail .next {
    float: left;
}

/*.product-detail .prev a,
.product-detail .next a {

}*/

.product-detail .title-3 {
    font-size: 18px;
    color: #ff6c00;
}

.product-detail p {
    color: #444444;
    font-weight: bold;
    line-height: 1.8;
}

.product-detail strong {
    color: #888888;
}

.tile {
    width: 132px;
    height: 32px;
    margin-left: -15px;
    margin-bottom: -7px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    background-color: #9e006f;
}

.product-description {

}

.product-description img {
    display: block;
    width: 100%;
}

/*==================== 浮动窗口 =========================*/
.sidebar {
    position: fixed;
    _position: absolute;
    top: 131px;
    right: 10px;
}

.sidebar_cont {
    width: 187px;
    background-color: #9E006F;
}

.sidebar img {
    vertical-align: top;
}

.sidebar_hd {
    height: 40px;
    background: url(../sidebar/s_t.jpg) no-repeat;
}

.sidebar_ft {
}

.sidebar_ft a.gotop {
    display: block;
    width: 187px;
    height: 45px;
    background: url(../sidebar/s_b.jpg) no-repeat;
}

.sidebar_tel {
    color: #ccc;
    padding: 10px 5px;
    border-bottom: 1px solid #fff;
}

.sidebar_tel span {
    display: block;;
    color: #fff;
    font-size: 24px;
}

.sidebar_bd {
    margin: 0 5px;
    background-color: #F6F6F6;
}

.sidebar_img {
    border-bottom: 1px solid #EBEBEB;
}

.sidebar_ser {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #EBEBEB;
    padding: 10px 0
}

.sidebar_ser ul,
.sidebar_ser li {
    margin: 0;
    padding: 3px 0;
}

.sidebar_ser li {
    list-style-type: none;
    text-align: center;
}

.sidebar_list {
    padding: 10px 0;
    border-top: 1px solid #fff;
}

.sidebar_list_item {
    display: block;
    text-align: center;
    border: 1px solid #ddd;
    margin: 0 5px;
    margin-bottom: 6px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    font-family: "simsun";
    border-radius: 3px;
}

.sidebar_list_item:hover {
    background-color: #f9f9f9;
}

